.content {
    margin: 50px 50px 0 50px;
}

.image {
    display: flex;
    align-content: center;
    justify-content: center;
    position: relative;
}

.image img {
    width: 1600px;
    height: 500px;
    overflow: hidden;
    object-fit: none;
}

.image div {
    position: absolute;
    right: 80px;
    top: 20px;
    font-size: 24px;
    font-weight: bold;
    color: #fff;
}

.image .links {
    position: absolute;
    left: 50px !important;
    bottom: 40px !important;
    right: auto !important;
    top: auto !important
}

.image .links .button {
    color: #fff !important;
}

.text {
    margin-top: 20px;
    display: flex;
}

.text .column {
    margin: 0 15px;
    padding: 15px 20px;
    border-radius: 10px;
    border: 1px solid #ddd;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
}

hr {
    margin: 50px 0;
}

.text .column p {
    line-height: 45px;
}

.img-text {
    display: flex;
}

.img-text span {
    align-self: center;
    margin-left: 10px;
    font-size: 22px;
    font-weight: bold;
}

.column-img {
    border-radius: 50px;
}

.set2 {
    margin-top: 20px;
    display: flex;
}

.set2 div {
    margin-left: 20px;
}

.set3 div {
    margin-right: 20px;
}

.bg-1 {
    background-color: rgb(134, 0, 121);
    color: #fff;
}

.bg-2 {
    background-color: rgb(81, 81, 81);
    color: #fff;
}

.bg-3 {}

.bg-4 {
    background-color: rgb(12, 2, 106);
    color: #fff;
}