.menu {
    margin: 0 30px;
    display: flex;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(145, 145, 145);
}

.logo a {
    color: red;
    text-decoration: none;
    display: flex;
}

.logo span {
    margin-left: 10px;
    margin-top: 10px;
    font-size: 18px;
}

.menu .links {
    margin-left: 50px;
    margin-top: 10px;
}

.links .button {
    padding: 10px 20px;
    border: 1px solid #ddd;
    border-radius: 25px;
    font-size: 20px;
    text-decoration: none;
    color: #000;
}

.links .button:hover {
    text-decoration: underline;
}